#listContainer {
    display: flex;
    justify-content: center;
}

thead {
    text-align: center;
}

th {
    background-color: rgba(187, 210, 210, 0.711);
    padding: 20px;
    width: fit-content;
}

tr {
    text-align: center;
}