#listContainer {
    display: flex;
    justify-content: center;
}

thead {
    text-align: center;
}

th {
    background-color: rgb(229, 236, 236);
    padding: 20px;
    width: fit-content;
}

tr {
    text-align: center;
}